profiles {

    slurm {
        process.executor       = 'slurm'
        process.queue          = 'FAST'
        process.clusterOptions = '--qos=normal'
        process.scratch        = '/scratch/users/$SLURM_JOBID'
        executor.queueSize     = 100
    }

    local {
        process.executor = 'local'
    }

    singularity {
        singularity {
            enabled    = true
            autoMounts = true
        }
    }
}

params {

    // Input files

    multisample_vcf =
        "/fastdata/GQGenomics_fastdata/vloegler/VcfPhasing/03-data/1011_strains.gvcf.gz"

    ref_fasta =
        "/fastdata/GQGenomics_fastdata/vloegler/VcfPhasing/03-data/Sace_S288c_R64.fasta"

    reads_dir =
        "/vols/GQGenomics_bigdata/rawdata/Sace/ONT"

    // Output directory

    outdir =
        "/fastdata/GQGenomics_fastdata/vloegler/VcfPhasing/04-analysis"
}

process {

    /*
     * Resources
     */

    withLabel:'process_high' {
        cpus      = 8
        memory    = '24 GB'
        time      = '4h'
        maxForks  = 15
        container = "${projectDir}/containers/phasevcf.sif"
    }

    withLabel:'process_medium' {
        cpus      = 4
        memory    = '8 GB'
        time      = '4h'
        maxForks  = 30
        container = "${projectDir}/containers/phasevcf.sif"
    }

    withLabel:'process_low' {
        cpus      = 1
        memory    = '2 GB'
        time      = '4h'
        maxForks  = 120
        container = "${projectDir}/containers/phasevcf.sif"
    }

    /*
     * Publish directories
     */

    withName: 'PHASE_VCF:REBUILD_MULTISAMPLE_VCF' {
        publishDir = [
            path      : "${params.outdir}",
            mode      : 'copy',
            overwrite : true
        ]
    }
}